@import (reference) "../styles";

.link {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 400;
  margin-left: 24px;

  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.dropdown-link {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;

  .text {
    margin-right: 8px;
  }
}

.menu {
  background-color: @primary-color !important;
  padding: 0 !important;

  .menu-item {
    background-color: @primary-color;
    min-height: 50px;
    min-width: 180px;
    display: flex;
    align-items: center;
    border: solid 1px @primary-color-dark;

    &:hover {
      background-color: @primary-color-hover !important;
    }

    .link {
      font-size: 1rem;
      color: #ffffff !important;

      &:hover {
        text-decoration: none;
      }

      > i {
        margin-right: 6px;
      }
    }
  }
}
